body{
  background-color: hsl(185, 41%, 84%);
  font-family: 'Space Mono', monospace;
  font-size: 14px;
  font-weight: 700;
}



.calculator-box{
  display: flex;
  width: 54vw;
  margin: 0 auto;
  padding: 2%;
  gap: 2%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 12px;
}

.input-box{
  flex: 1 1 0;
  color: hsl(184, 14%, 56%);
}

.tip-selector{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: 2;
  grid-gap: 8px;
}

.output-box{
  flex: 1 1 0;
  padding: 2%;
  background-color: hsl(183, 100%, 15%);
  border-radius: 12px;
}


/* Inputs' style */

input{
  font-family: 'Space Mono', monospace;
  height: 40px;
  border: none;
  border-radius: 6px;
}

input[type="text"]{
  background-color: hsl(189, 41%, 97%);
  text-align: right;
  font-size: 24px;
  width: 100%;
  box-sizing: border-box;
  padding-right: 14px;
  position: relative;
}

.tip-selector [type="text"]{
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

input[type="button"]{
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  font-size: 20px;
}




/* Images */

img{
  position:absolute;
  padding-left: 14px;
  z-index: 1;
}

.icon-dollar{
  top: 4.25rem;
}

.icon-person{
  top: 16.75rem;
}


.output-line{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}


.output-label .biggerText{
  color: hsl(0, 0%, 100%);
  margin: 0;
}

.output-label .smallerText{
  color: hsl(186, 14%, 43%);
  font-size: 12px;
  margin: 0;
}


output{
  font-size: 32px;
  color: hsl(172, 67%, 45%);
}

button[type="reset"]{
  width: 100%;
  height: 40px;
  background-color: hsl(172, 67%, 45%, 0.3);
  color: hsl(183, 100%, 15%);
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 6px;
}

/* Attributions */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
