body {
  background-color: hsl(185, 41%, 84%);
  font-family: 'Space Mono', monospace;
  font-size: 14px;
  font-weight: 700;
}

h2 {
  color: hsl(183, 100%, 15%);
  text-align: center;
  letter-spacing: 0.4rem;
  margin: 0 auto 50px;
}

label {
  display: inline-block;
  padding-bottom: 10px;
}

button{
  height: 40px;
  border: none;
  border-radius: 6px;
  font-family: 'Space Mono', monospace;
}


/* Layouts */
.content-wrapper {
  margin: 7% auto;
}

.calculator-box {
  display: flex;
  width: 56vw;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  gap: 3%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 12px;

}

@media (max-width: 1090px) {
  .calculator-box {
    width: 78vw;
    flex-direction: column;
    justify-content: space-between;
  }
}

.input-side-wrapper {
  flex: 1 0 0;
  color: hsl(184, 14%, 56%);
  padding: 1%;
}

.input-line {
  position: relative;
  margin-bottom: 30px;
}

.input-line:last-of-type {
  margin-bottom: 0;
}

.tip-selector {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: 2;
  grid-gap: 8px;
}

.hiddenWarningLine {
  display: flex;
  justify-content: space-between;
}

.output-side-wrapper {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  padding: 5%;
  background-color: hsl(183, 100%, 15%);
  border-radius: 12px;
}

@media(max-width: 1090px){
  .output-side-wrapper{
    margin-top: 4%;
  }
}

.output-line {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

/* Inputs' style */

input[type="text"] {
  background-color: hsl(189, 41%, 97%);
  border: none;
  border-radius: 6px;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding-right: 14px;
  text-align: right;
  color: hsl(183, 100%, 15%);
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  font-weight: 700;
}

input[type="text"]:focus-visible {
  outline-color: hsl(172, 67%, 45%);
}

.tip-selector [type="text"] {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

button[type="submit"]{
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  font-size: 20px;
}

button[type="submit"]:hover{
  background-color: hsl(172, 67%, 80%);
  color:hsl(183, 100%, 15%);
  font-weight: 700;
}

/* Images */
.icon {
  position: absolute;
  padding-left: 14px;
  z-index: 1;
}

.icon-dollar {
  top: 42px;
}

.icon-person {
  top: 42px;
}

/* Outputs' styles */
output {
  font-size: 32px;
  color: hsl(172, 67%, 45%);
}

.output-label .biggerText {
  color: hsl(0, 0%, 100%);
  margin: 0;
}

.output-label .smallerText {
  color: hsl(186, 14%, 43%);
  font-size: 12px;
  margin: 0;
}

/* Reset button */
button[type="reset"] {
  width: 100%;
  margin-top: auto;
  background-color: hsl(172, 67%, 45%, 0.3);
  color: hsl(183, 100%, 15%);
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

button[type="reset"]:hover{
  background-color: hsl(172, 67%, 80%);
  color:hsl(183, 100%, 15%);
}

.active{
  background-color: hsl(172, 67%, 45%, 1);
}

.warning {
  display: none;
  color: hsl(0, 100%, 74%);
  text-align: right;
}
